.read-more-button {
  display: inline-block;
  margin-left: 3px;
  color: #286da8;
  cursor: pointer;
}

root {
  width: "100%";
}

.owner-hover {
  padding: 10px;
  display: inline-block;
}

.url-display {
  display: flex;
  align-items: center;
  margin: 20px;
}

.media {
  height: 138px;
}

.card-header {
  margin: 8px;
  margin-left: 12px;
}

.header {
  margin-left: 25px;
  text-align: center;
}

.heading {
  text-transform: uppercase;
}

.user-card,
.project-card,
.stat-card {
  margin: 10px;
  width: 250px;
  padding: 10px;
}

.project-list,
.follower-list,
.following-list,
.stat-list {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}
